name: test

on:
  push:
    branches:
      - 'main'
      - 'feature/*'
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: test and buid
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: |
         npm ci
         npm run build --if-present
         npm run lint
         npm test
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist